extends ../../layouts/base

block content 

	main#main
		section#services-intro.wow.fadeInUp
			.container
				br
				br
				.row
					.col-lg-12
						.section-header
							h2 AERIAL ANALYSIS
							br
							p(style="font-size: 20px; text-align: justify;") Beehive Drones offers comprehensive Aerial Analysis services. Consist of small team of 3 – 7 persons and advanced UAV System &amp; sensors, Aerial Analysis services are capable to cover large area in faster pace compare to conventional ways. The services are divided into several segments: Data Acquisition, Data Analysis, and Advanced Data Analysis. 
				br
				br
				.row
					.col-lg-5.service-img
						img(src="/assets/image/services/aerial_analysis/acquisition.png", alt="Data Acquisition")
					.col-lg-7
						h1(style="text-align: center; font-size: 24px; font-weight: 700; color: #134280;") Data Acquisition
						p(style="font-size: 20px; text-align: justify;") Data knowledge is one of the keys to ensure that our client productions output can meet the target. Beehive Drones will make sure that our client have high quality and precise data about their conditions &amp; productions at field.
						ul(style="font-size: 20px; text-align: justify;")
							li Aerial Mapping
							li 3D Aerial Mapping
							li Thermal Aerial Mapping
							li NIR Aerial Mapping
				br
				br
				br
				br
				.row
					.col-lg-7
						h1(style="text-align: center; font-size: 24px; font-weight: 700; color: #134280;") Data Analysis
						p(style="font-size: 20px; text-align: justify;") Data analysis is the next process of data acquisition. Beehive Drones Expert Team is able to analyze UAV acquisition data for various purposes, transforming the numbers and pictures into  data that our client can use productively and efficiently. Our client will get complementary Data Acquisition for taking our Data Analysis Services. 
						ul(style="font-size: 20px; text-align: justify;")
							li Area Density Analysis
							li Area Landscape Profiling
							li Area Border &amp; Perimeter Analysis
							li Plant Damage Assessment
							li Photosynthesis Analysis
							li Tree Counting Analysis
							li Water Stress Analysis
					.col-lg-5.service-img
						img(src="/assets/image/services/aerial_analysis/analysis.png", alt="Data Analysis")
				br
				br
				br
				br
				.row
					.col-lg-5.service-img
						img(src="/assets/image/services/aerial_analysis/advance_analysis.png", alt="Advanced Data Analysis")
					.col-lg-7
						h1(style="text-align: center; font-size: 24px; font-weight: 700; color: #134280;") Advanced Data Analysis
						p(style="font-size: 20px; text-align: justify;") Advanced Data analysis is the signature services offered by Beehive Drones. Beehive Drones Expert Team will utilize all available data and form  advanced computer simulation &amp; modelling to provide estimation and prediction about conditions/ production output on the area for 5 - 10 years to come with accuracy of 89% - 92%. Our client will get complementary Data Acquisition &amp; Standard Data Analysis for taking our Advanced Data Analysis. 
						ul(style="font-size: 20px; text-align: justify;")
							li Biodiversity Audit
							li Future Prediction of Yield / Harvest
							li Area Resources Analysis
							li Riverbed &amp; Reservoir Inspections
		// #about
		br
		br
		br

		
		include ../work-with-us