extends ../../layouts/base

block content 

	main#main
		section#services-intro.wow.fadeInUp
			.container
				br
				br
				.row
					.col-lg-12
						.section-header
							h2 DRONE SPRAYER
							br
							p(style="font-size: 20px; text-align: justify;") Drone Sprayer will allow our client to conduct their plantation &amp; farms maintenance faster and more efficient.
				br
				br
				.row
					.col-lg-5.service-img
						img(src="/client/assets/image/services/drone_sprayer/drone_sprayer.jpg", alt="Drone Sprayer")
					.col-lg-7
						p(style="font-size: 20px; text-align: justify;") As part of our commitment, we are utilizing the best drone sprayer world can offer to bring you peace of mind and consistent work quality.
						ul(style="font-size: 20px; text-align: justify;")
							li Tank Volume : 10L, 15L, 20 L
							li Droplet size : 130 – 250 μm
							li Conductivity : 50mS / cm
							li Sprayer speed : 0.40 – 5 L / min
							li Sprayer coverage : 2 – 6.5 meters (max. 3m height)
							li Maximum operating speed : 7m / s
							li Working time : 10 – 20 minutes
							li Working Temperature : 0 ° – 40 ° C
				br
				br
				br
				br
				.row
					.col-lg-12.wow.fadeInDown
						h1(style="text-align: center; font-size: 32px; font-weight: 600; color: #134280;")
							| Precision Sprayers are able to
							span(style="font-size: 50px; font-weight: 700;") cut the cost
							| of agriculture chemical until
							span(style="font-size: 50px; font-weight: 700;") up to 30%
							| , bringing more positive impact for cost &amp; time efficiency and environment preservation.
				br
				br
				br
				br
				.row
					.col-lg-6.wow.fadeInLeft
						.container(style="background-color: #134280; height: 770px;")
							.row
								.col-lg-12
									.container
										br
										br
										img(src="/client/assets/image/services/drone_sprayer/plantation.jpg", alt="Plantation", width="100%")
							.row
								.col-lg-12
									.container
										br
										h2(style="text-align: center; font-size: 32px; font-weight: 600; color: white;") One Plantation
										p(style="text-align: center; font-size: 20px; color: white;") Do you have a plantation/ farm that need to be sprayed several times in one planting cycle? Does your plantation/ farm located in one area?
										p(style="text-align: center; font-size: 20px; color: white;") This working model will enable you to have a special drone sprayer team at your disposal. The drone sprayer team will be placed on your plantation area, taking care of your needs on drone sprayer services.
					.col-lg-6.wow.fadeInRight
						.container(style="background-color: #134280; height: 770px;")
							.row
								.col-lg-12
									.container
										br
										br
										img(src="/client/assets/image/services/drone_sprayer/demo.jpg", alt="Demo Sprayer", width="100%")
							.row
								.col-lg-12
									.container
										br
										h2(style="text-align: center; font-size: 32px; font-weight: 600; color: white;") All You Can Go
										p(style="text-align: center; font-size: 20px; color: white;") Our Drone Sprayer Team will go wherever you are and whenever you need. 
										p(style="text-align: center; font-size: 20px; color: white;") This working model will enable you to pin point where the next spray will be done. Whether it is in different area, city or even province, our team will serve you in time of your choosing.
		// #about
		br
		br
		br
		br
		br

		
		include ../work-with-us