/* Goals */

#services-intro {
  padding: 30px 0 0 0;
}

#services-intro .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  height: 380px;
  text-align: justify;
}

#services-intro .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

.goals-content {
  font-size: 11px;
  text-align: center;
  line-height: 10px;
}

.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    right: 15px;
    z-index: 100;
    /* float: right; */
}

.col-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-get-talk {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #134280;
  border: 2px solid #134280;
  text-align: center;
  cursor: pointer;
}

.btn-get-talk:hover {
  background: none;
  color: #134280;
}

.my-float {
    margin-top: 10px;
}

.work-with-us {
    background: #EEE;
    padding: 60px 0 30px 0;
}

.img-with-us img{
    width: 100%;
}

.title-work-with-us{
  color: #134280;
  /* margin-bottom: 20px; */
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title-work-with-us-colums{
  color: #134280;
  /* margin-bottom: 20px; */
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button-view {
  background-color: white;
  color: #134280;
  border: 2px solid #134280;
  width: 60%;
  border-radius: 20px;
  height: 40px;
}

.button-view:hover {
  background-color: #134280;
  color: white;
  cursor: pointer;
}

.card-custom {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.card-custom:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-custom {
  padding: 2px 16px;
}

.book_appointment {
  background-color: #134280;
  border-radius: 18px;
}

.book_appointment:hover{
  background-color: #2a60a5;
  border-radius: 18px;
  outline: none;

}

.title-card-service{
  color: #134280;
  /* margin-bottom: 20px; */
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.btn-outline-primary-custom {
  color: #134280;
  background-color: transparent;
  background-image: none;
  border-color: #134280;
  border-radius: 20px;
  margin-left: 1%;
}

.btn-outline-primary-custom:hover {
  color: #fff;
  background-color: #134280;
  border-color: #134280;
}

.btn-outline-primary-custom:focus, .btn-outline-primary-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary-custom.disabled, .btn-outline-primary-custom:disabled {
  color: #134280;
  background-color: transparent;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled):active, .btn-outline-primary-custom:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary-custom.dropdown-toggle {
  color: #fff;
  background-color: #134280;
  border-color: #134280;
}

.btn-outline-primary-custom:not(:disabled):not(.disabled):active:focus, .btn-outline-primary-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.desc-work {
  text-align: justify;
  line-height: normal;
}

.service-img {
    overflow: hidden;
    text-align: center;
}

.service-img img {
    width: 100%;
    height: 300px;
}

.service-img-blog {
    overflow: hidden;
    text-align: center;
}

.service-img-blog img {
    width: 100%;
    height: 160px;
}

.rounded-img {
  border-radius: 20px;
  height: 50px;
}

#intro-services {
  width: 100%;
  height: 80vh;
  position: relative;
}

#intro-services .agriculture{
  width: 100%;
  height: 80vh;
  position: relative;
  background: url("../image/banner/agriculture-bg.png") no-repeat;
  background-size: cover;
}

#intro-services .intro-services-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#intro-services .intro-services-content h2 {
  color: #eee;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 900;
  text-align: left;
}

#intro-services .intro-services-content p {
  color: #eee;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  text-align: left;
}

.title-service {
  margin-top: 18%;
  margin-left: 5%;
}



/* paging */
.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 50px;
  text-align: center;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 22px;
  text-decoration: none;
  padding: 6px 15px;
  color: #134280;
  margin-left: 2px;
  border: 1px solid transparent;
  line-height: 2;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-3 a {
  margin-left: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.modal-3 a:hover {
  background-color: #134280;
  color: white;
}
.modal-3 a.active, .modal-3 a:active {
  background-color: #134280;
  color: white;
}




/* search */
.search {
  width: 100%;
  position: relative;
  /* display: flex; */
}

.searchTerm {
  width: 100%;
  border: 2px solid #134280;
  padding: 5px;
  height: 20px;
  border-radius: 20px;
  outline: none;
  color: #9DBFAF;
  height: 45px;

}

.searchTerm:focus{
  color: #134280;
}

.searchButton {
  width: 100%;
  height: 45px;
  border: 1px solid #134280;
  background: #134280;
  text-align: center;
  color: #fff;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 0;
}


/* end search */

:root {
  --ewc-color-1: #ffffff;
  --ewc-color-2: #eae1da;
  --ewc-color-3: #25d366;
  --ewc-color-3-dark: #0bac46;
  --ewc-color-4: #00796a;
}
.ewChat {
  position: fixed;
  bottom: 25px;
  right: 30px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 320px;
  max-width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 999;
}

.ewChatBox {
  width: 100%;
  background-color: var(--ewc-color-2);
  border-radius: 15px;
  display: none;
  opacity: 0;
  transition: opacity 1000ms;
  flex-direction: column;
}

.ewChatClose {
  color: var(--ewc-color-1);
  display: none;
  position: absolute;
  top: -35px;
  right: 0;
  border: none;
  padding: 4px;
  border-radius: 100%;
  background-color: var(--ewc-color-4);
}

.ewChatClose:hover {
  background-color: var(--ewc-color-3);
}

.ewChatCloseMobile {
  width: 100%;
  position: absolute;
  text-align: center;
  color: var(--ewc-color-1);
  top: -300px;
  padding: 100px 0;
  cursor: pointer;
}

.ewChatAvatar {
  position: absolute;
  left: calc(50% - 32px);
  top: -80px;
  width: 59px;
  height: 59px;
  padding: 3px;
  border: solid 2px var(--ewc-color-3);
  border-radius: 100%;
  background-color: var(--ewc-color-1);
  display: flex;
}
.ewChatAvatar img {
  border-radius: 100%;
}

.ewChatHeader {
  background-color: var(--ewc-color-4);
  color: var(--ewc-color-1);
  border-radius: 15px 15px 0 0;
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ewChatHeader h3 {
  color: var(--ewc-color-1);
  font-size: 18px;
  margin: 3px;
}
.ewChatHeader p {
  font-size: 12px;
  margin: 0;
}

.ewChatBubble {
  background-color: var(--ewc-color-1);
  margin: 10px 18px 10px 30px;
  padding: 9px 9px 25px 9px;
  text-align: left;
  border-radius: 0 10px 10px 10px;
  position: relative;
  opacity: 0;
  transition: opacity 1000ms;
}

.ewChatBubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: var(--ewc-color-1);
  border-left: 0;
  border-top: 0;
  margin-top: 0;
  margin-left: -15px;
}

.ewChatBubble p {
  margin: 0;
  font-size: 14px;
}

.ewChatBubble span {
  position: absolute;
  bottom: 5px;
  right: 9px;
  opacity: 0.5;
  font-size: 11px;
}

.ewChatInput {
  display: none;
  opacity: 0;
  transition: opacity 1000ms;
  width: 100%;
  margin-top: 10px;
  background-color: var(--ewc-color-1);
  height: 48px;
  border-radius: 24px;
}

.ewChatInput input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--ewc-color-1);
  height: 32px;
  margin: auto 20px;
  width: 100%;
  border: none;
}

.ewChatInput input:focus {
  outline: none;
}

.ewChatInput button {
  border: none;
  background-color: var(--ewc-color-4);
  border-radius: 20px;
  margin: 4px;
  color: var(--ewc-color-1);
  padding: 8px;
}

.ewChatInput button:hover {
  background-color: var(--ewc-color-3);
}

.ewChatDesktop {
  cursor: pointer;
  display: none;
  align-items: center;
  height: 55px;
  border-radius: 25px;
  background-color: var(--ewc-color-3);
  width: 68%;
  padding: 4px 20px;
  font-size: 14px;
  color: var(--ewc-color-1);
  margin-top: 20px;
}

.ewChatDesktop svg {
  margin-right: 10px;
}

.ewChatMobile {
  cursor: pointer;
  padding: 10px;
  background-color: var(--ewc-color-3);
  display: flex;
  border-radius: 100%;
  color: var(--ewc-color-1);
  border: solid 2px var(--ewc-color-1);
  margin-top: 20px;
}

.ewChatMobile:hover,
.ewChatDesktop:hover {
  background-color: var(--ewc-color-3-dark);
}

.ewChatBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

/* Responsive */
@media screen and (min-width: 450px) {
  .ewChatAvatar {
    left: -80px;
    top: 80px;
  }

  .ewChatClose,
  .ewChatDesktop {
    display: flex;
  }

  .ewChatMobile,
  .ewChatCloseMobile {
    display: none;
  }
}