select.form-control(id="affiliation_sector", name="affiliation_sector")
	option(value=) Affiliaton Sector
	option(value="Aerospace Industry") Aerospace Industry
	option(value="fAffiliation Sectoriat") Affiliation Sector
	option(value="Transport Industry") Transport Industry
	option(value="Computer Industry") Computer Industry
	option(value="Telecommunication industry") Telecommunication industry
	option(value="Agriculture industry") Agriculture industry
	option(value="Construction Industry") Construction Industry
	option(value="Education Industry") Education Industry
	option(value="Pharmaceutical Industry") Pharmaceutical Industry
	option(value="Food Industry") Food Industry
	option(value="Health care Industry") Health care Industry
	option(value="Hospitality Industry") Hospitality Industry
	option(value="Entertainment Industry") Entertainment Industry
	option(value="News Media Industry") News Media Industry
	option(value="Energy Industry") Energy Industry
	option(value="Manufacturing Industry") Manufacturing Industry
	option(value="Music Industry") Music Industry
	option(value="Mining Industry") Mining Industry
	option(value="Worldwide web") Worldwide web
	option(value="Electronics Industry") Electronics Industry
	option(value="School/University") School/University
	option(value="Non-profit Organization") Non-profit Organization
	option(value="Others") Others