extends ../layouts/base

block content 

	main#main
		section#contact.wow.fadeInUp
			.container
				br
				br
				.row
					.col-lg-4(style="background-color: #134280;")
						br
						h1(style="color: white; font-weight: 700; text-align: center;") Contact Us
						.row.contact-info(style="line-height: 0%;")
							.col-lg-12
								.contact-address
									i.ion-ios-location-outline(style="color: white;")
									h3(style="color: white;") Address
									address(style="color: white;") Jalan Arjuna 4B Wirobrajan Yogyakarta 55252 
						.row.contact-info(style="line-height: 0%;")
							.col-lg-12
								.contact-address
									i.ion-ios-telephone-outline(style="color: white;")
									h3(style="color: white;") Phone Number
									address(style="color: white;") +6281 8999 7715 
						.row.contact-info(style="line-height: 0%;")
							.col-lg-12
								.contact-address
									i.ion-ios-email-outline(style="color: white;")
									h3(style="color: white;") Email
									address(style="color: white;") contact@beehivedrones.com 
					.col-lg-8
						br
						.section-header
							h4.title-card-service Want to improve your company&apos;s effiency? Get your free consultation with us! We will help you as soon as possible
						hr
						br
						.container
							.form
								#errormessage
								form.contactForm(action="", method="post", role="form")
									.form-row
										.form-group.col-md-6
											input#name.form-control(type="text", name="name", placeholder="Your Name", data-rule="minlen:4", data-msg="Please enter at least 4 chars")
											.validation
										.form-group.col-md-6
											input#email.form-control(type="email", name="email", placeholder="Your Email", data-rule="email", data-msg="Please enter a valid email")
											.validation
									.form-row
										.form-group.col-md-6
											input#phone.form-control(type="text", name="phone", placeholder="Phone Number", data-rule="minlen:4", data-msg="Please enter at least 4 chars")
											.validation
										.form-group.col-md-6
											input#company.form-control(type="email", name="company", placeholder="Company Name", data-rule="email", data-msg="Please enter a valid email")
											.validation
									.form-row
										.form-group.col-md-6
											include country.pug
										.form-group.col-md-6
											select.form-control(id="affiliation_sector", name="affiliation_sector")
												option(value=) Affiliaton Sector
												option(value="saab") Saab
												option(value="fiat") Fiat
												option(value="audi") Audi
												option(value="saab") Saab
												option(value="fiat") Fiat
												option(value="audi") Audi
												option(value="saab") Saab
												option(value="fiat") Fiat
												option(value="audi") Audi
												option(value="saab") Saab
												option(value="fiat") Fiat
												option(value="audi") Audi
									.form-group
										input#city.form-control(type="text", name="city", placeholder="City", data-rule="minlen:4", data-msg="Please enter at least 8 chars of subject")
										.validation
									.form-group
										textarea.form-control(name="message", rows="6", data-rule="required", data-msg="Please write something for us", placeholder="Message")
										.validation
									button.btn-get-talk(type="submit") Let&apos;s Talk
									br
									br
									br
		// #about
		br
		br
		br
		br