.container
	.form
		#sendmessage Your message has been sent. Thank you!
		#errormessage
		form.contactForm(action='', method="post", role="form")
			.form-row
				.form-group.col-md-6
					input#name.form-control(type="text", name="name", placeholder="Your Name", data-rule="minlen:4", data-msg="Please enter at least 4 chars")
					.validation
				.form-group.col-md-6
					input#email.form-control(type="email", name="email", placeholder="Your Email", data-rule="email", data-msg="Please enter a valid email")
					.validation
			.form-group
				input#subject.form-control(type="text", name="subject", placeholder="Subject", data-rule="minlen:4", data-msg="Please enter at least 8 chars of subject")
				.validation
			.form-group
				textarea.form-control(name="message", rows="6", data-rule="required", data-msg="Please write something for us", placeholder="Message")
				.validation
			.text-center
				button(type="submit") Send Message
br
br
br