extends ../layouts/base

block content 

	section#intro
		.intro-content
			h2 REDEFINING THE 
				br
				| POSSIBILITIES
			div
				a.btn-get-started.scrollto(href="#about") Learn More
	// #intro
	main#main
		//
			==========================
			About Section
			============================
		section#about.wow.fadeInUp
			.container
				.row
					.col-lg-12
						.section-header
							h2 About Us
					.col-lg-6.content
						h2 Our Journey
						p Beehive Drones was founded in 2017 by a group of Indonesian students in the Manchester, United Kingdom who want to bring the power of drones into the field of conventional Industries. The founders believe that in the competitive and fast moving world, efficiency become a crucial aspect and drone is a very powerful tool to achieve that. Today, Beehive Drones produces drone system, IoT sensors, surveillance system, and tracking management systems. Beehive Drones signature swarm drones technology had brought the team to be national champion, Asia Pacific representative, and world finalist in Imagine Cup 2018 by Microsoft.
						p After registered in Indonesia under the name of PT Aerotek Global Inovasi, Beehive Drones team is growing strong and received well by various industries in Indonesia. We work both for private and government sectors, quenching the thirst of industries for innovative, reliable, and affordable advanced technologies.
						p With the motto of 
							b REDEFINING THE POSSIBILITIES
							| , Beehive Drones journey is far from over. Beehive Drones dreams are to assist industries in embracing modern technology, pursue their efficiency goals, and be a trusted partner for Industry Revolution 4.0.
					.col-lg-6.content
						h2 Our Value
						ul
							li
								i.ion-android-checkmark-circle
								b Integrity
								| : We honour our commitments with the highest ethical standard.
							li
								i.ion-android-checkmark-circle
								b Safety
								| : We value human lives and exercise highest standard of safety procedures.
							li
								i.ion-android-checkmark-circle
								b Quality
								| : We strive for excellent quality and continuous improvement of our technology.
							li
								i.ion-android-checkmark-circle
								b Innovative 
								| : We strive to learn and open for new challenges.
							li
								i.ion-android-checkmark-circle
								b Perseverance 
								| : We commit to continuously delivering our best service despite any challenges.
							li
								i.ion-android-checkmark-circle
								b Synergy
								| : We highly value our team and eager to invest in accelerating the team growth.
						h2 Our Culture
						ul
							li
								i.ion-android-checkmark-circle
								| Work with integrity, passion, and responsibility.
							li
								i.ion-android-checkmark-circle
								| 360֯ degree perspectives.
							li
								i.ion-android-checkmark-circle
								| Thrive for quality, scalability, and efficiency.
							li
								i.ion-android-checkmark-circle
								| Synergise with respect, honesty, and loyalty.
					.col-lg-12.content
						h2 Our Goals
						p We aim to leverage our clients sales force and solving their problems using our advance technology. We also aspire to improve, connect, and transform human lives through Innovative Drone Technology and Advanced Sensor Network System and become the World-Leading Company on Advanced System of Drone Technology. 
						p We support 5 of 17 sustainable development goals created by United Nation focusing on:
						.container
							.row
								.col-lg-2
									img(src="/assets/image/goals/E_WEB_08.png", alt="web_08", width="100%")
									span.goals-content Decent Works and Economic Growth
								.col-lg-2
									img(src="/assets/image/goals/E_WEB_09.png", alt="web_09", width="100%")
									span.goals-content Industry, Innovation, and Infrastructure
								.col-lg-2
									img(src="/assets/image/goals/E_WEB_01.png", alt="web_01", width="100%")
									span.goals-content No Poverty
								.col-lg-2
									img(src="/assets/image/goals/E_WEB_02.png", alt="web_02", width="100%")
									span.goals-content Zero Hunger
								.col-lg-2
									img(src="/assets/image/goals/E_WEB_03.png", alt="web_03", width="100%")
									span.goals-content Good Health and Well-Being
							br
		// #about
		//
			==========================
			Services Section
			============================
		br
		br
		section#services
			.container
				.section-header
					h2 Services
				.row
					each serv in services
						-let text = serv.name;
						-let name = text.toLowerCase();
						.col-lg-4
							.box.wow.fadeInUp
								.row
									.col-lg-12.service-img
										img(src="/assets/image/services/"+serv.image, alt="")
								br
								.row
									.col-lg-12
										h4.title
											a(href="/service/"+name, style=" color: #134280;") #{serv.title}
										p.description #{serv.description}
		
		// #services
		//
			==========================
			Clients Section
			============================
		br
		br
		section#clients.wow.fadeInUp
			.container
				.section-header
					h2 Clients &amp; Partners
					p
						b Beehive Drones, an Indonesian drone system technology company
					p We aim to improve, connect, and transform human lives through innovative drone system technology and advanced sensor network system
				.owl-carousel.clients-carousel
					img(src="/assets/image/clients/1.png", alt="client-1")
					img(src="/assets/image/clients/2.png", alt="client-2")
					img(src="/assets/image/clients/3.png", alt="client-3")
					img(src="/assets/image/clients/4.png", alt="client-4")
					img(src="/assets/image/clients/5.png", alt="client-5")
					img(src="/assets/image/clients/6.png", alt="client-6")
					img(src="/assets/image/clients/7.png", alt="client-7")
					img(src="/assets/image/clients/8.png", alt="client-8")
					img(src="/assets/image/clients/9.png", alt="client-9")
					img(src="/assets/image/clients/10.png", alt="client-10")
					img(src="/assets/image/clients/11.png", alt="client-11")
					img(src="/assets/image/clients/12.png", alt="client-12")
					img(src="/assets/image/clients/13.png", alt="client-13")
					img(src="/assets/image/clients/14.png", alt="client-14")
		// #clients
		//
			==========================
			Stories Section
			============================
		br
		br
		section#services
			.container
				.section-header
					h2 Stories
				.row
					.col-lg-4
						.box.wow.fadeInLeft
							.row
								.col-lg-12.service-img
									img(src="/assets/image/blog/stories-1-pilot.jpg", alt="Stories 1")
							br
							.row
								.col-lg-12
									h6 APRIL 8, 2022
									h4(style="text-align: left;") Drone Pilot Career, Is Becoming a Drone Pilot Worth It?
							br
							.row
								.col-lg-4
									p.badge.badge-pill.bg-secondary(style="font-size: 11px; color: white;") BUSINESS
								.col-lg-8
									p by Beehive Drones
					.col-lg-4
						.box.wow.fadeInDown
							.row
								.col-lg-12.service-img
									img(src="/assets/image/blog/stories-2-cam.jpg", alt="Stories 2")
							br
							.row
								.col-lg-12
									h6 APRIL 3, 2022
									h4(style="text-align: left;") List of the Best Action Camera Drones for Beginner
							br
							.row
								.col-lg-4
									p.badge.badge-pill.bg-secondary(style="font-size: 11px; color: white;") TREND
								.col-lg-8
									p by Beehive Drones
					.col-lg-4
						.box.wow.fadeInRight
							.row
								.col-lg-12.service-img
									img(src="/assets/image/blog/stories-3-mapping.jpg", alt="Stories 3")
							br
							.row
								.col-lg-12
									h6 MARCH 14, 2022
									h4(style="text-align: left;") Aerial Mapping: Definition, Goal, Benefit, and Advantage
							br
							.row
								.col-lg-4
									p.badge.badge-pill.bg-secondary(style="font-size: 11px; color: white;") BUSINESS
								.col-lg-8
									p by Beehive Drones
				.row
					.col-lg-12.wow.fadeInLeft
						h5(style="text-decoration: underline;")
							a(href="/blog") Read More Stories 
								i.fa.fa-arrow-right(aria-hidden="true")
		// #stories
		//
			==========================
			Contact Section
			============================
		br
		br
		section#contact.wow.fadeInUp
			.container
				.section-header
					h2 Contact Us
					p
						b WE&apos;RE ALWAYS 
							span(style="color: #134280;") HAPPY TO HELP
						| . Get in touch with us today!
				.row.contact-info
					.col-md-4
						.contact-address
							i.ion-ios-location-outline
							h3 Address
							address Jalan Arjuna 4B Wirobrajan Yogyakarta 55252 
					.col-md-4
						.contact-phone
							i.ion-ios-telephone-outline
							h3 Phone Number
							p
								a(href="tel:+155895548855") +6281 8999 7715
					.col-md-4
						.contact-email
							i.ion-ios-email-outline
							h3 Email
							p
								a(href="mailto:contact@beehivedrones.com") contact@beehivedrones.com
								
			include form-contact.pug
