doctype html
html(lang="en")
	head
		include head.pug
		
	body#body
		// navigation
		include nav.pug
	
		// content
		block content
		
		// footer
		include footer.pug
		
		// whatsapp
		#myButton
																					
		// js
		include js.pug