footer#footer
	.footer-top
		.container
			.row
				.col-lg-3.col-md-6.footer-info
					h3 Beehivedrones
					p Beehive Drones, an Indonesian drone system technology company. We aim to improve, connect, and transform human lives through innovative drone system technology and advanced sensor network system.
				
				.col-lg-3.col-md-6.footer-links
					h4 Useful Links
					ul
						li
							i.ion-ios-arrow-right
							a(href="/") Home
						li
							i.ion-ios-arrow-right
							a(href="/blog") Blog
						li
							i.ion-ios-arrow-right
							a(href="/career") Career
						li
							i.ion-ios-arrow-right
							a(href="/book-appointment") Book Appointment
						//- li
						//- 	i.ion-ios-arrow-right
						//- 	a(href="terms-of-service") Terms of service

				.col-lg-3.col-md-6.footer-contact
					h4 Contact Us
					p
						strong Address :
						|
						| Jalan Arjuna 4B Wirobrajan Yogyakarta 55252

						br
						strong Phone :
						| 
						| +6281 8999 771

						br
						strong Email :
						| 
						| contact@beehivedrones.com

					.social-links
						a.facebook(href="https://web.facebook.com/beehivedrone" target="_blank")
							i.fa.fa-facebook
						a.instagram(href="https://www.instagram.com/beehivedrones/" target="_blank")
							i.fa.fa-instagram
						a.linkedin(href="https://www.linkedin.com/company/beehivedrones/" target="_blank")
							i.fa.fa-linkedin

				.col-lg-3.col-md-6.footer-newsletter
					h4 Get Our Newsletter
					p Want the latest and greatest from our blog straight to your inbox? Chuck us your details and get a sweet weekly email.
					form(action="", method="post")
						input(type="email", name="email")
						input(type="submit", value="Subscribe")
	.container
		.copyright
			| © Copyright
			|
			strong(style="color: #134280;") Beehive Drones
			br
			| All Rights Reserved
// #footer