// JavaScript Libraries
script(src="/client/assets/lib/jquery/jquery.min.js")
script(src="/client/assets/lib/jquery/jquery-migrate.min.js")
script(src="/client/assets/lib/bootstrap/js/bootstrap.bundle.min.js")
script(src="/client/assets/lib/easing/easing.min.js")
script(src="/client/assets/lib/superfish/hoverIntent.js")
script(src="/client/assets/lib/superfish/superfish.min.js")
script(src="/client/assets/lib/wow/wow.min.js")
script(src="/client/assets/lib/owlcarousel/owl.carousel.min.js")
script(src="/client/assets/lib/magnific-popup/magnific-popup.min.js")
script(src="/client/assets/lib/sticky/sticky.js")
// Contact Form JavaScript File
script(src="/client/assets/contactform/contactform.js")
// Template Main Javascript File
script(src="/client/assets/js/main.js")
// Custom js
//- script(src="/client/assets/js/custom.js")
script(src="/client/assets/js/floating-wpp.js")


script(type="text/javascript").
	$(function () {
		$('#myButton').floatingWhatsApp({
			phone: '62818999771',
			popupMessage: 'How can I help you?',
			message: "",
			showPopup: true,
			showOnIE: false,
			headerTitle: 'Beehivedrones is your solution',
			headerColor: "#00796a",
			backgroundColor: "#00796a",
			buttonImage: '<img src="/client/assets/image/whatsapp.svg" />'
		});
	});

script.
	$(document).ready(function(){
		$("#subscribe").submit(function(event) {
			event.preventDefault();
			var email = $("#subemail").val();
			console.log({email})
			$.ajax({
				type: "POST",
				url: "http://localhost:3005/web/v1/subscribe/save",
				data: JSON.stringify({ email: email }),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function(data){
					alert(data.message)
				}
			});
		});
	});
	