extends ../layouts/base

block content 

	section#intro-services(style="width: 100%; height: 80vh; position: relative; background: url('/client/assets/image/banner/agriculture-bg.png') no-repeat; background-size: cover;")
		.intro-services-content
			#about.container.title-service.wow.fadeInRight
				h2 AGRICULTURE
				p We are committed to offering the benefits of precision agriculture through our Advanced Drone System technology.
	// #intro
	main#main
		//
			==========================s
			Agriculture Section
			============================
		section#services-intro.wow.fadeInUp
			.container
				.row
					.col-lg-12
						.section-header
							h2 The use of Unmanned Aerial Vehicle (UAV) in agricultural
							p Practices offers a lot of advantages , especially in terms of time and cost efficiency.
				.row
					.col-lg-12
						.box.wow.fadeInLeft
							.row
								.col-lg-4.service-img
									img(src="/client/assets/image/services/agriculture-aerial-analysis.jpg", alt="Aerial Analysis")
								.col-lg-8
									h4.title-card-service AERIAL ANALYSIS
									p.description Beehive Drones offers comperhensive Aerial Analysis services. Consist of small team of 3 - 7 persons, Aerial Analysis services are capable to cover large area in faster pace compare to conventional ways. The services are divided into several segments: Data Acquisition, Data Analysis, and Advanced Data Analysis.
									div
										a.btn-get-talk(href="/service/detail/aerial-analysis") Learn More
							br
				.row
					.col-lg-12
						.box.wow.fadeInLeft
							.row
								.col-lg-4.service-img
									img(src="/client/assets/image/services/agriculture-drone-sprayer.png", alt="Drone Sprayer")
								.col-lg-8
									h4.title-card-service DRONE SPRAYER
									p.description
										ul
											li Scheduled Maintenance
											li Unit Replacement
											li Parts Replacement
											li Drone Insurance
											li Dedicated Mechanics
									div
										a.btn-get-talk(href="/service/detail/drone-sprayer") Learn More
							br
		// #about
		br
		br

		
		include work-with-us.pug