extends ../layouts/base

block content 

	section#intro-services(style="width: 100%; height: 80vh; position: relative; background: url('/assets/image/banner/navier-bg.jpg') no-repeat; background-size: cover;")
		.intro-services-content
			#about.container.title-service.wow.fadeInRight
				h2(style="color: #134280;") NAVIER
				p(style="color: #134280;") Navier Beehive Drones is Beehive Drones’ solution designed as an autonomous drone system for delivery services in rural areas with limited infrastructures.
	// #intro
	main#main
		//
			==========================
			Navier Section
			============================
		br
		br
		section#services-intro.wow.fadeInDown
			.container
				.row
					.col-lg-12
						// <iframe width="100%" height="600" src="https://www.youtube.com/embed/vBkhjQJQmbs?autoplay=1&mute=1&html5=1" frameborder="0" allowfullscreen></iframe>
						iframe(width="100%", height="600", src="https://www.youtube.com/embed/vBkhjQJQmbs?&html5=1", frameborder="0", allowfullscreen)
		// #about
		br
		br
		section#services-intro.wow.fadeInUp
			.container
				.row
					.col-lg-12
						.section-header
							h2 The Challenges The World Are Facing.
				br
				.row
					.col-lg-12
						.fadeInLeft
							.row
								.col-lg-8
									br
									p(style="font-size: 25px; text-align: justify;") The low efficiency because of lack of technology and outdated business process has slower the distribution of logistics in some remote areas with high geographical barriers and lack of infrastructure.
									p(style="font-size: 25px; text-align: justify;") Resulting in low medication supports, which might never happen in big cities with many alternatives logistics methods.
								.col-lg-4.service-img
									img(src="/assets/image/services/phuket.png", alt="Phuket")
							br
				br
				br
				br
				.row
					.col-lg-12
						.fadeInLeft
							.row
								.col-lg-4.service-img
									img(src="/assets/image/services/drug.png", alt="Drugs")
								.col-lg-8
									br
									br
									h1(style="text-align: center; font-size: 40px; font-weight: 700; color: #134280;") “Navier Beehive Drones are designed to be able to carry temprature sensitive medical supplies”
							br
				br
				br
				br
				.row
					.col-lg-12
						.fadeInLeft
							.row
								.col-lg-8
									h1(style="text-align: center; font-size: 40px; font-weight: 700; color: #134280;") Delivery Drone as Last-Mile Delivery
									p(style="font-size: 25px; text-align: justify;") Navier Beehive Drones comes as a solution to tackle the medical distribution in remote areas in Indonesia as the extension of the current logistic system, namely last-mile delivery.
									p(style="font-size: 25px; text-align: justify;") Navier Beehive Drones extend the delivery from the hub to the designated locations, such as hospitals, clinics, and “puskesmas”.
								.col-lg-4.service-img
									img(src="/assets/image/services/drone-fly.png", alt="Drone Fly")
							br
				br
				br
				br
				.row
					.col-lg-12
						.fadeInLeft
							.row
								.col-lg-6.service-img
									img(src="/assets/image/services/telkom-uji-coba.png", alt="Uji Coba")
								.col-lg-6
									h1(style="text-align: center; font-size: 24px; font-weight: 700; color: #134280;") ITS, Telkomsel, and Beehive Drones collaborate to create the smartest drone delivery in Indonesia
									p(style="font-size: 20px; text-align: justify;") ITS, Telkomsel, and Beehive Drones collaborate to build the advanced last-mile delivery technology by combining the principal of transportation, IoT, and Drone Technology.
									div
										a.btn-get-talk(href="index.html") Read The Full Story Here
							br
		// #about
		br
		br

		
		include work-with-us.pug