section.wow.fadeInUp.work-with-us
	.container
		.row
			.col-lg-12
				h1.title-work-with-us Why work with us?
				br
				br
			.col-lg-4
				.row
					.col-lg-4.img-with-us
						img(src="/client/assets/image/gross.png", alt="gross")
					.col-lg-8
						h3.title-work-with-us-colums BUSINESS SUCCESS
						p.desc-work Our services will provide you with unique and world-leading insights to drive your company forward in innovation and business success.
			.col-lg-4
				.row
					.col-lg-4.img-with-us
						img(src="/client/assets/image/deals.png", alt="deals")
					.col-lg-8
						h3.title-work-with-us-colums TRUSTED
						p.desc-work We deliver clear and actionable information – always proficient, rigorous, and independently researched.
			.col-lg-4
				.row
					.col-lg-4.img-with-us
						img(src="/client/assets/image/idea.png", alt="idea")
					.col-lg-8
						h3.title-work-with-us-colums EXPERTISE
						p.desc-work We focus all our attention on the commercial drone market, to help you understand what is really going on now, and in the future.
			.col-lg-12.col-btn
				br
				br
				div
					a.btn-get-talk(href="/book-appointment") Let&apos;s Talk
				br
				br
				br
// #about
br
br
br
br